[Unit]
Description=refresh wlsunset location cache (online only)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wlsunset-auto.sh --update-only
